# VK auth
auth_vk_id=0000000
auth_vk_secret=VasdfAz6Xz2TVPgGHwVfi
auth_vk_cookie_password=asedrfhijkuaserfvghuy

# Facebook auth
auth_fb_id=490956658300000
auth_fb_secret=36a0e2391f65123598763c713b9342b
auth_fb_cookie_password=eioakwawsedopfghnujiaeawsediop

# Google auth
auth_google_id=672144519276-eq0ecpasdftvs45p2ulr150smu6sank4i.apps.googleusercontent.com
auth_google_secret=s84AcJ8t4jx-b-v6ZegHxsc-
auth_google_password=ewujikfdawsediosedrfhajuwsediol